.cart {
  border: 1px solid #aaa;
  padding: 3px;
  text-align: center;
  height: fit-content;
}
.cart thead {
  font-weight: bold;
  border-bottom: 1px solid #aaa;
}

.cart tr td {
  padding: 20px 5px;
  height: 100px;
}
.cart tr td img {
  width: 100px;
  height: 100px;
}

.cart tr td button {
  background-color: #ab1515;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
}

.info {
  border: 1px solid #aaa;
  height: fit-content;
  padding: 0 !important;
  text-align: center;
}
.info .order {
  border-bottom: 1px solid #aaa;
  padding: 10px 0;
  position: relative;
}

.info .order span {
  margin-right: 10px;
}

button.buy {
  background-color: #717fe0;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px 25px;
}

.products {
  position: absolute;
  top: 120%;
  right: 0%;
  z-index: 100;
  background-color: rgba(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 300px;
}
.products .product {
  border-bottom: 1px solid #aaa;
  padding-bottom: 7px;
  margin-bottom: 7px;
}
.viw-prod {
  background-color: #1c7831;
  color: white;
  padding: 3px 6px;
  cursor: pointer;
  border-radius: 5px;
}
